on: [push, pull_request]

jobs:
  list-cvmfs:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/key4hep/key4hep-images/alma9-cvmfs
      volumes:
        - /cvmfs:/cvmfs
      options: --privileged
    steps:
      # Mandatory step
      - name: Set up cvmfs
        run: /mount.sh
      - name: List contents of /cvmfs
        run: ls -l /cvmfs/sw.hsf.org/
      - name: Print cwd
        run: echo $GITHUB_WORKSPACE
      - name: Clone ZHH repo
        run: |
          git clone https://github.com/ILDAnaSoft/ZHH.git ZHH
          ls -la
          cd ZHH
          ls -la
          source install.sh --auto
          cd $GITHUB_WORKSPACE
      - uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: |
            ZHH/source/lib
            ZHH/source/bin